.footer {
    height: 20vh;
    display: flex;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .footer__nav {
    font-family: 'Karla', sans-serif;
    font-size: 100%;
    font-weight:lighter;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
  }
  
  .footer__option {
    display: flex;
    flex-direction: column;
    margin: 3px;
    font-size: small;
  }

  .footer__copyright {
    font-family: 'Karla', sans-serif;
    text-align: center; 
    align-items: center;
    color: grey;
    font-size: xx-small;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}